alias ll='ls -al'
alias update='sudo apt-fast update'
alias upgrade='sudo apt-fast upgrade'
alias install='sudo apt-fast install'
alias python='python3' 
alias update-grub='sudo update-grub'
alias v='nvim' 
alias ll='ls -al'
alias ..='cd ..'
alias gal='git add .'
alias gst='git status'
alias gc='git commit'
alias gpl='git pull'
alias gph='git push'
alias gbl='git blame'
